:root {
	--blue: rgba(0,0,204,0.8);
	--yellow: rgba(255,255,0,0.8);
	--green: rgba(0,255,0,0.8);
	--red: rgba(255,0,0,0.8);
	--purple: rgba(102,0,102,0.8);
	--orange: rgba(255,102,0,0.8);
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: helvetica, arial, sans-serif;
	font-size: 100%;
	font-weight: bold;
}

body {
	background-color: #000000;
	color: #000000;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

}

.all {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: brown;
	width: 100%;
	perspective: 250vw;
	position: relative;
	flex-direction: column;
}

.carousel {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: tomato;
	width: 90vw;
	position: relative;
	transform-style: preserve-3d; 
  	animation: play 10s infinite forwards linear;
}

.carousel-item {
	display: flex;
	align-items: center;
	align-content: center;
	transform-style: preserve-3d;
	position: absolute;
	border-radius: 10px;

	width: 30vw;
  	height: 15vw;
}

.carousel-item span {
	width: 100%;
	text-align: center;
}

.carousel-item:nth-child(1) {
	transform: rotateY(0deg) translateZ(30vw);
}

.carousel-item:nth-child(2) {
	transform: rotateY(60deg) translateZ(30vw);
}

.carousel-item:nth-child(3) {
	transform: rotateY(120deg) translateZ(30vw);
}

.carousel-item:nth-child(4) {
	transform: rotateY(180deg) translateZ(30vw);
}

.carousel-item:nth-child(5) {
	transform: rotateY(240deg) translateZ(30vw);
}

.carousel-item:nth-child(6) {
	transform: rotateY(300deg) translateZ(30vw);
}

.blue {
	background-color: var(--blue);
}

.yellow {
	background-color: var(--yellow);
}

.green {
	background-color: var(--green);
}

.red {
	background-color: var(--red);
}

.purple {
	background-color: var(--purple);
}

.orange {
	background-color: var(--orange);
}





@keyframes play {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}